@import url(../fonts/stylesheet.css);

:root {
    --bg-main: #ffffff;
    --bg-main-grey: #f6f6f6;

    --font-color-grey: #828282;

    --color-main-black: #070707;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 970px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding: 25px 0 0;
}

.nav {

}

.nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0 0 0;
    background-color: var(--font-color-grey);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: var(--font-color-grey);
    font-size: 18px;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--color-main-black);
    font-weight: 600;
}





