@import url(../fonts/stylesheet.css);

:root {
    --bg-main: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}




